<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
  <uses-permission android:name="moe.shizuku.manager.permission.EXEC_COMMAND" />

  <queries>
    <intent>
      <action android:name="android.intent.action.MAIN" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
    </intent>
  </queries>

  <application
    android:name=".AnywhereApplication"
    android:allowBackup="true"
    android:appCategory="productivity"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="${appName}"
    android:largeHeap="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true"
    tools:targetApi="33">

    <!--    Home    -->
    <activity
      android:name=".ui.main.MainActivity"
      android:configChanges="orientation"
      android:exported="true"
      android:launchMode="singleTop">
    </activity>

    <!--    Default icon launcher    -->
    <activity-alias
      android:name=".MainAliasActivity"
      android:configChanges="orientation"
      android:enabled="true"
      android:exported="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:targetActivity=".ui.main.MainActivity">
      <intent-filter>

        <!-- Start from URL Scheme -->
        <!-- Required -->
        <action android:name="android.intent.action.VIEW" />
        <!-- Start from a browser -->
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Implicit intent -->
        <category android:name="android.intent.category.DEFAULT" />
        <!-- Protocol -->
        <data
          android:host="url"
          android:scheme="anywhere" />
      </intent-filter>
      <intent-filter> <!-- Start from URL Scheme -->
        <!-- Required -->
        <action android:name="android.intent.action.VIEW" />
        <!-- Start from a browser -->
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Implicit intent -->
        <category android:name="android.intent.category.DEFAULT" />
        <!-- Protocol -->
        <data
          android:host="share"
          android:scheme="anywhere" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <!--    About page
    <activity
      android:name=".ui.about.AboutActivity"
      android:exported="false"
      android:label="@string/about_title"
      android:theme="@style/AppTheme.About" />-->

    <!--    Shortcut bridge    -->
    <activity
      android:name=".ui.shortcuts.ShortcutsActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:label="@string/shortcut_open"
      android:launchMode="singleInstance"
      android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT" />
      </intent-filter>
      <intent-filter>
        <action android:name="START_ENTITY" />
      </intent-filter>
    </activity>

    <!--    Backup page    -->
    <activity
      android:name=".ui.backup.BackupActivity"
      android:exported="false"
      android:label="@string/settings_backup" />

    <!--    Editor container    -->
    <activity
      android:name=".ui.editor.EditorActivity"
      android:exported="true"
      android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
      android:label="@string/card_editor_title">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="com.absinthe.anywhere_.intent.action.EDITOR" />
      </intent-filter>
    </activity>

    <!--    Override    -->
    <activity
      android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess"
      android:exported="false"
      tools:replace="exported" />

    <activity
      android:name="com.blankj.utilcode.util.UtilsTransActivity"
      android:exported="false"
      tools:replace="exported" />

    <!--    Shizuku provider    -->
    <provider
      android:name="rikka.shizuku.ShizukuProvider"
      android:authorities="${applicationId}.shizuku"
      android:enabled="true"
      android:exported="true"
      android:multiprocess="false"
      android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <meta-data
      android:name="android.max_aspect"
      android:value="2.4" />
  </application>

</manifest>
